# Core functionality - changes here should be rare!
/src/app.py                   @gbpioner
/src/backend/database.py      @gbpioner
/src/backend/routers/auth.py  @gbpioner

# The frontend will need refactored soon to be more object oriented.
/src/static/   @gbpioner
